html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.TextEditor,
.TextPreview {
  border: 0.4em solid darkblue;
  border-radius: 0.6em;
}

textarea#editor {
  height: 90vh;
  width: 45vw;
  margin: 0;
  padding: 0;
  border: 0;
  resize: none;
}

.TextPreview {
  overflow: auto;
  min-height: 0px;
  height: 90vh;
  width: 45vw;
}
